body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: lightblue;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: deepskyblue;
}

#instruction {
  text-align: center;
  margin-bottom: 20px;
}

section {
  background-color: lightgray;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

#playerList, #teamsContainer {
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
